{% extends "layout.html" %}

<!-- add the page sections -->
{% block content %}
<section class="hero" id="hero" style="text-align:center;">
    <h1>404 Not Found &#128532;</h1>
    <p style="max-width:35rem; text-align:left; margin: 0 auto;">Sorry dawg this page does'nt exist you might have type something wrong but don't worry here is link to our documentation you can check it <a style="color: darkblue; text-decoration: underline;" href="{{ url_for('docs') }}">Docs</a></p>
</section>
{% endblock %}


