<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body style="display: flex; justify-content:center; align-items:center; gap: 0.5em;
flex-flow:row wrap;"> 
        <script>
            const container = document.querySelector(".container")
            fetch("http://127.0.0.1:5000/api/BulusHamnu/repos?pinned=True&theme=dark")
                .then( data => data.json())
                .then( results => {
                    if (results.data) {
                        results.data.forEach( svg => {
                        svg_card = document.createElement("div")
                        svg_card.innerHTML = svg
                        document.body.appendChild(svg_card)
                    })
                    } else {
                        console.log(results)
                    }
                })
            // fetch("http://127.0.0.1:5000/api/bulushamnu/repos/readme-svg-projects-card?theme=dark")
            //     .then( response => {
            //         return response.json()
            //     })
            //     .then( results => {
            //         if(results.data) {
            //             results.data.forEach( svg => {
            //                 svg_card = document.createElement("div")
            //                 svg_card.innerHTML = svg
            //                 document.body.appendChild(svg_card)
            //             })
            //         } else {
            //             console.log(results)
            //         }
                    
            //     }).catch( error => {
            //         console.log(error)
            //     })
        </script>            
</body>
</html>